/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    background-image: url('../img/background.jpg');
}

.container {
    width: 80%;
    margin: auto;
}

hr {
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

/* HEADER */
header {
    color: white;
}
.logo {
    height: 150px;
    vertical-align: middle;
}
.brand {
    font-size: 40px;
    vertical-align: middle;
}
.header-bottom {
    padding: 15px 0;
}
.search input {
    padding: 3px;
    width: 150px;
}
.search button {
    padding: 2px 10px;
}
.count {
    font-size: 40px;
    margin-top: 10px;
}
.count-number {
    background-color: orange;
    width: 65px;
    height: 65px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 65px;
    vertical-align: middle;
}

/* Main */
main {
    padding: 15px 0;
}
.email {
    background-color: lightgray;
    border: 1px solid black;
    padding: 5px;
}
.email-read {
    background-color: white;
}
.star {
    font-size: 20px;
}
.email-subject {
    font-weight: 800;
}
.email-text {
    color: gray;
}